<!-- html starts from here !  -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polished - Appointment Booking System for Nail Salon</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" type="text/css" href="/css/login.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Urbanist:wght@100;200&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav>
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>
    <!-- Any scripts wanted to be included in here -->
    <!-- script files put in public/javascripts folder -->
    <script src=""></script>
</body>

</html>