<!-- html starts from here !  -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polished - Appointment Booking System for Nail Salons</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
        <button id="home-button">Home</button>
        {{#if logged_in}} <!-- if user is logged in -->
        <a id="apt-btn" href="/appointment">Appointment</a>
        <a id="lougout-btn" href="/logout">logout</a> 
        {{else}}
        <a id="login-btn" href="/login">login</a> <!-- if user is not logged in THEN links to the login script (which we don't have yet) -->
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>
    <!-- Any scripts wanted to be included in here -->
    <!-- script files put in public/javascripts folder -->
    <script src=""></script>
</body>

</html>