<h1 class="appt-form">Login</h1>
<input type="text" id="nail-tech"> Nail Tech: 
<input type="text" id="date"> Date: 
<input type="text" id="service-type"> Service: 
<input type="text" id="time-slot"> Time Slot: 
<input type="submit">