<div>

    <h2>Book Your Appointment Today</h2>
    <form class="appointment form">
        <fieldset>
            <legend>Appointment Form</legend>
            <div class="form-group">
                <label for="name">Full Name:</label><br/><br/>
                <input type="text" placeholder="First name" name="firstname"><br /><br />
                <input type="text" placeholder="Last name" name="lastname"><br /><br />
            </div>
            <div>
                <label for="email">Email</label><br/><br/>
                <input type="text" placeholder="Email" name="email"><br /><br />
            </div>
            <div> 
                <label for="appointment">Book Here!</label><br/><br/>
                <select name="Book Here!"><br /><br />
                <option value="date">Date</option><br /><br />
                <option value="time_slot">Choose an available time</option><br /><br />
                <option value="service">Service</option>
                </select><br/><br/>
                <input type="submit" value="Submit" id="submitButton" />
{{#each appointments as |appointment|}}
<p>{{appointment.date}}</p>
{{/each}}
            </div>
        </fieldset>
    </form>



</div>