<div class="flex-container">
    <h2 class="title-home-page text-center p-4">Polished</h2>
        <div class="star text-center">
        <img class="star-home-page" src="https://www.freeiconspng.com/thumbs/white-star-icon/white-star-icon-10.png" alt="star">
        <img class="star-home-page" src="https://www.freeiconspng.com/thumbs/white-star-icon/white-star-icon-10.png" alt="star">
        <img class="star-home-page" src="https://www.freeiconspng.com/thumbs/white-star-icon/white-star-icon-10.png" alt="star">
        <img class="star-home-page" src="https://www.freeiconspng.com/thumbs/white-star-icon/white-star-icon-10.png" alt="star">
        <img class="star-home-page" src="https://www.freeiconspng.com/thumbs/white-star-icon/white-star-icon-10.png" alt="star">
        </div>
    <h1 class="review-home-page text-center fs-4 p-3">"The best appointment booking application ever" -Forbes</h1>
    <hr>
    <h1 class="service-home-page text-center fs-2 p-3">Services</h1>
    <div class="d-flex flex-wrap justify-content-center">
        {{#each services as |service| }}
        <div class="row">
            <ul class="service-container col text-center">
                <li class="col">
                    <img class="border border-dark m-4 image-service" src={{service.image_link}}>
                    <div class="service-overlay border border-dark">
                        <a class="service-description">{{service.description}}</a>
                    </div>
                </li>
                <li>
                    <a href="/api/services/{{service.id}}" class="service-name">{{service.name}}</a>
                </li>
            </ul>
        </div>
        {{/each}}
    </div>
</div>
<script src="/javascript/home.js"></script>
